/* animations */

@keyframes ballBounce {
  0% { background-position: 0 -60px; }
  10% { background-position: 0 10px; }
  20% { background-position: 0 -10px; }
  30% { background-position: 0 10px; }
  40% { background-position: 0 0px; }
  50% { background-position: 0 10px; }
}

@-webkit-keyframes ballBounce {
  0% { background-position: 0 -60px; }
  10% { background-position: 0 10px; }
  20% { background-position: 0 -10px; }
  30% { background-position: 0 10px; }
  40% { background-position: 0 0px; }
  50% { background-position: 0 10px; }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

/* Reset! */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Utility */

.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.w80pc { width: 80%; }
.w75pc { width: 75%; }
.w70pc { width: 70%; }
.w65pc { width: 65%; }
.w50pc, .half-width { width: 50%; }
.w40pc { width: 40%; }
.w30pc { width: 30%; }
.w20pc { width: 20%; }
.align-right { text-align: right; }
.no-margin { margin: 0; }

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* Page */

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  background: #ecf0f1;
}

a {
  color: #2980b9;
}

a:visited {
  color: #8e44ad;
}

footer {
  border-top: 1px solid #bdc3c7;
  color: #bdc3c7;
  margin: 0 24px 24px 24px;
  background: #ecf0f1;
}
  
  footer p {
    padding: 24px;
  }

  footer a, footer a:visited {
    color: #bdc3c7;
  }

header {
  background: #e67e22;
  color: #fff;
  height: 44px;
  line-height: 44px;
}

header a, header a:visited {
  color: inherit;
  text-decoration: none;
}

header nav {
  margin: 0px 24px;
}

header nav h1 {
  width: 50%;
  float: left;
}

  header nav h1 a {
    padding-left: 38px;
    background: url('dot.png') no-repeat;
    background-size: 24px 24px;
    background-position: 0 10px;
    height: 44px;
    display: block;
  }

  header nav h1 a.animated {
    -webkit-animation-name: ballBounce;
    animation-name: ballBounce;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

header nav ul {
  width: 40%;
  float: right;
}

header nav ul li {
  width: 33.333%;
  float: left;
  text-align: right;
}

  header nav ul li a {
    height: 44px;
    display: block;
    padding: 0 12px;
  }

    header nav ul li a span {
      padding: 3px 8px;
    }

    header nav ul li a:hover span {
      background: #d35400;
    }

section {
  margin: 24px 24px 0 24px;
  background: #fff;
  padding: 24px;
}

p, h2, h3 {
  margin-bottom: 1em;
  line-height: 1.33;
}

p {
  margin-bottom: 1em;
  max-width: 600px;
}

p.intro {
  float: right;
  width: 20%;
  min-width: 150px;
}

ul.games {
  float: left;
  width: 78%;
}

ul.games, ul.games ul {
  margin: 0;
  list-style: none;
}

ul.games > li {
  margin-bottom: 2em;
  min-width: 220px;
  line-height: 1.5;
}

ul.games li ul {
  margin-top: 1em;
}

ul.games li ul li {
  font-size: 0.95em;
  width: 210px;
  margin: 0 10px 1em 0;
}

ul.games a {
  color: #2980b9;
  background: #ecf0f1;
  padding: 12px;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #bdc3c7;
}

  ul.games a:hover {
    opacity: 0.7;
    border: 1px solid #95a5a6;
    border-width: 1px 1px 2px 1px;
    padding: 11px 11px 12px 11px;
  }

  ul.games a:active, ul.games a:focus {
    color: #2c3e50;
    opacity: 0.8;
    border-bottom-width: 1px;
    margin-top: 1px;
  }

@media (max-width: 800px) {
  p.intro {
    width: 100%;
    float: none;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ecf0f1;
  }

  ul.games {
    width: 100%;
    float: none;
  }
}

.quality-indicator {
  position: absolute;
  color: white;
  display: block;
  font-size: 0.8em;
  width: 20px;
  height: 20px; 
  line-height: 20px;
  background: #aaa;
  text-align: center;
  margin-left: 170px;
  margin-top: -22px;
}

  .quality-indicator.good     { background: #FEBE30; }
  .quality-indicator.great    { background: #FF8000; }
  .quality-indicator.awesome  { background: #FC4208; }

.game-header {
  margin: 24px 24px 48px 24px;
}

  .game-header h2, .game-header h3, .game-header p {
    margin: 0;
  }

  .game-header h3 {
    font-weight: normal;
    color: #7f8c8d;
    font-size: 0.8em;
  }

.game-footer {
  padding: 24px;
}

section.game {
  padding: 0;
}

p.tutorial {
  width: 300px;
  position: absolute;
  color: #7f8c8d;
  background: #fff;
  border: 1px solid #bdc3c7;
  padding: 12px;
  font-size: 0.9em;
  margin: -60px 0 0 48px;
  z-index: 9999;
}

  p.tutorial:after {
    right: 100%; top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(189, 195, 199, 0);
    border-right-color: #bdc3c7;
    border-width: 6px;
    margin-top: -6px;
  }

table {
  width: 100%;
  margin-bottom: 2em;
  cursor: default;
}

table td { padding: 2px 4px; }

table#stats tr.header td { font-weight: bold; padding: 5px 0; }
table#stats tbody tr td.misc { color: #999999; }
table#stats tbody tr.player:hover { background: #f8f8f8; }
table#stats tbody tr.team td { padding-bottom: 5px; opacity: 0.33; }
table#stats tbody tr.team:hover td { opacity: 1; }

table#stats tr td:first-of-type, table#stats tr th:first-of-type {
  padding-left: 24px;
}

table#stats tr td:last-of-type, table#stats tr th:last-of-type {
  padding-right: 24px;
}

table td.string { width: 150px !important; }
table td.numeric { text-align: center; width: 40px !important; }
table td.fraction { text-align: right; width: 50px !important; }

tr.header td span {
  margin-left: 1em;
  color: #999;
}

.tooltip {
  position: absolute;
  padding: 3px 6px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

a#time { 
  color: #888;
  margin-left: 1em; 
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.quarter-markers {
  position: relative;
  top: -29px;
}

.quarter-markers > a {
  height: 20px;
  width: 2px;
  background: #ccc;
  text-indent: -999px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: -3px;
}

  .quarter-markers a.q2 { left: 25%; }
  .quarter-markers a.q3 { left: 50%; }
  .quarter-markers a.q4 { left: 75%; }

  .quarter-markers.overtime a.q2 { left: 22%; }
  .quarter-markers.overtime a.q3 { left: 45%; }
  .quarter-markers.overtime a.q4 { left: 67%; }
  .quarter-markers.overtime a.ot { left: 90%; }

/* jQuery UI ----------------------------------*/

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

/* Misc visuals
----------------------------------*/

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 28px;
  margin-top: -4px;
  cursor: default;
}

  .ui-slider .ui-slider-handle.ui-state-hover,
  .ui-slider .ui-slider-handle.ui-state-active {
    background: #f39c12;
  }

  .ui-slider .ui-slider-handle.ui-state-active {
    opacity: 0.8;
  }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #3498db;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 8px;
  margin-bottom: 1em;
  background: #e1e1e1;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.5em;
  /*margin-left: -.6em;*/
  background: #d35400;
  cursor: pointer;
  outline: none;
}

  .ui-slider-horizontal .ui-slider-handle.highlighted {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
