/* Reset! */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Utility */

.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.w70pc { width: 70%; }
.w50pc, .half-width { width: 50%; }
.w40pc { width: 40%; }
.w30pc { width: 30%; }
.align-right { text-align: right; }
.no-margin { margin: 0; }

/* Page */

body {
	background: #f8f8f8;
  color: #333333;
  margin: 0 60px 60px 60px;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 15px;
}

header, section, footer { 
  margin: 0px auto;
}

  header {
    width: 970px;
    font-family: "jaf-facitweb", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  header nav {
    width: 250px;
    float: right;
    font-size: 24px;
  }

  header nav ul li {
    width: 115px;
    float: left;
    padding: 95px 0 25px 0;
    text-align: center;
  }

      header nav ul li:first-child { margin-right: 20px; }

    header nav ul li a {
      color: #333333;
      text-decoration: none;
      text-shadow: 0px 2px 0px #ffffff;
      filter: dropshadow(color=#ffffff, offx=0, offy=0);
    }

  header nav ul li.active {
    background: #FC3626;
  }

    header nav ul li.active a {
      color: #ffffff;
      text-shadow: 0px 2px 0px #CE191A;
      filter: dropshadow(color=#CE191A, offx=0, offy=0);
    }

h1 {
  color: #FC3626;
  width: 290px;
  float: left;
  font-size: 31px;
}

  h1 a {
    padding: 60px 0 0 85px;
    display: block;
    text-decoration: none;
    color: inherit;
    background: url('/bsr.png') no-repeat;
    background-position: 0 60px;
    background-size: 61px;
  }

    h1 a:hover { opacity: 0.8; }

  h1 a.animated {
    animation: animationFrames linear 1.75s;
    animation-iteration-count: 1;
    -webkit-animation: animationFrames linear 1.75s;
    -webkit-animation-iteration-count: 1;
    -moz-animation: animationFrames linear 1.75s;
    -moz-animation-iteration-count: 1;
    -o-animation: animationFrames linear 1.75s;
    -o-animation-iteration-count: 1;
    -ms-animation: animationFrames linear 1.75s;
    -ms-animation-iteration-count: 1;
  }

@keyframes animationFrames{
  0% { background-position: 0 -60px; }
  10% { background-position: 0 60px; }
  20% { background-position: 0 5px; }
  30% { background-position: 0 60px; }
  40% { background-position: 0 40px; }
  50% { background-position: 0 60px; }
  55% { background-position: 0 55px; }
  60% { background-position: 0 60px;  }
}

@-moz-keyframes animationFrames{
  0% { background-position: 0 -60px; }
  10% { background-position: 0 60px; }
  20% { background-position: 0 5px; }
  30% { background-position: 0 60px; }
  40% { background-position: 0 40px; }
  50% { background-position: 0 60px; }
  55% { background-position: 0 55px; }
  60% { background-position: 0 60px;  }
}

@-webkit-keyframes animationFrames{
  0% { background-position: 0 -60px; }
  10% { background-position: 0 60px; }
  20% { background-position: 0 5px; }
  30% { background-position: 0 60px; }
  40% { background-position: 0 40px; }
  50% { background-position: 0 60px; }
  55% { background-position: 0 55px; }
  60% { background-position: 0 60px;  }
}

@-o-keyframes animationFrames{
  0% { background-position: 0 -60px; }
  10% { background-position: 0 60px; }
  20% { background-position: 0 5px; }
  30% { background-position: 0 60px; }
  40% { background-position: 0 40px; }
  50% { background-position: 0 60px; }
  55% { background-position: 0 55px; }
  60% { background-position: 0 60px;  }
}

@-ms-keyframes animationFrames{
  0% { background-position: 0 -60px; }
  10% { background-position: 0 60px; }
  20% { background-position: 0 5px; }
  30% { background-position: 0 60px; }
  40% { background-position: 0 40px; }
  50% { background-position: 0 60px; }
  55% { background-position: 0 55px; }
  60% { background-position: 0 60px;  }
}

h2, h3, h4 { margin-bottom: 1.5em; }

a {
  color: #de480b;
}

section p, footer p, section ul, section ol {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

section ul, section ol {
  margin-left: 2em;
}

section {
  padding: 30px;
  background: white;
  border-bottom: 1px solid #e7e7e7;
  width: 910px;
}

footer {
  padding: 30px;
  width: 910px;
}

/* Specific */

.smaller { font-size: 0.85em; }
.lighter { color: #848484; }

table {
  width: 100%;
  margin-bottom: 2em;
  cursor: default;
}

table td { padding: 0px 4px; }

table#stats tr.header td { font-weight: bold; padding: 5px 0; }
table#stats tbody tr td.misc { color: #999999; }
table#stats tbody tr.player:hover { background: #f8f8f8; }
table#stats tbody tr.team td { padding-bottom: 5px; opacity: 0.33; }
table#stats tbody tr.team:hover td { opacity: 1; }

table td.string { width: 150px !important; }
table td.numeric { text-align: center; width: 40px !important; }
table td.fraction { text-align: right; width: 50px !important; }

tr.header td span {
  margin-left: 1em;
  color: #999;
}

.tooltip {
  position: absolute;
  padding: 3px 6px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

a#time { 
  color: #888;
  margin-left: 1em; 
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.quarter-markers {
  position: relative;
  top: -29px;
}

.quarter-markers > a {
  height: 20px;
  width: 2px;
  background: #ccc;
  text-indent: -999px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: -3px;
}

  .quarter-markers a.q2 { left: 25%; }
  .quarter-markers a.q3 { left: 50%; }
  .quarter-markers a.q4 { left: 75%; }

  .quarter-markers.overtime a.q2 { left: 22%; }
  .quarter-markers.overtime a.q3 { left: 45%; }
  .quarter-markers.overtime a.q4 { left: 67%; }
  .quarter-markers.overtime a.ot { left: 90%; }

/* jQuery UI ----------------------------------*/

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

/* Misc visuals
----------------------------------*/

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 28px;
  margin-top: -4px;
  cursor: default;
}

  .ui-slider .ui-slider-handle.ui-state-hover,
  .ui-slider .ui-slider-handle.ui-state-active {
    opacity: 0.8;    
  }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 8px;
  margin-bottom: 1em;
  background: #e1e1e1;
  /*background-image: url('/marker.png');
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
          box-shadow: 0px 1px 0px 0px #ffffff;*/
}

  /*.ui-slider-horizontal.overtime { background-image: url('/marker-ot.png'); }*/

.ui-slider-horizontal .ui-slider-handle {
  top: -.5em;
  margin-left: -.6em;
  background: #fc8d26;
  cursor: pointer;
  outline: none;
}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
