<section>
  <h2>About Box Score Replay</h2>

  <p>
  	As a basketball fan that lives outside of the USA (in Europe), it's difficult to watch games live. 
  	Sure, I can manage the first game tipping off on the east coast every night, but if there's a great 
  	game happening over on the west? That's too late. I got shit to do in the morning.
  </p>

  <p>
  	So, sometimes I have to watch games the day after they air live, using 
  	<a href="http://www.nba.com/leaguepass/">League Pass</a>. But, before now, I couldn't look 
  	at a box score or anything as the game is playing because it would spoil the result for myself. 
  	That's why this exists. So you and I can keep track of stats as they happen, 
  	even if they happened two days ago. Or something like that.
  </p>

  <p>Any questions or comments? <a href="http://twitter.com/eddm">I'm on the Twitter</a>.</p>
</section>
