<html>
	<head>
		<title>Box Score Replay - About</title>
		<script type="text/javascript" src="//use.typekit.net/waz4ava.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1503843-15']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<section>
			<h1>About Box Score Replay</h1>

			<p>
				As a basketball fan that lives outside of the USA (in Europe), it's difficult to watch games live. 
				Sure, I can manage the first game tipping off on the east coast every night, but if there's a great 
				game happening over on the west? That's too late. I got shit to do in the morning.
			</p>

			<p>
				So, sometimes I have to watch games the day after they air live, using 
				<a href="http://www.nba.com/leaguepass/">League Pass</a>. But, before now, I couldn't look 
				at a box score or anything as the game is playing because it would spoil the result for myself. 
				That's why this exists. So you and I can keep track of stats as they happen, 
				even if they happened two days ago. Or something like that.
			</p>

			<p>Any questions or comments? <a href="http://twitter.com/eddm">I'm on the Twitter</a>.</p>

			<p class="half-width float-left"><a href="/">Box Score Replay</a></p>

			<p class="smaller align-right clear">
				<a href="/about">About</a> &middot; This thing was made by <a href="http://www.eddmorgan.com">Edd</a>
			</p>
		</section>

	</body>
</html>
