<div id="slider"></div>

<p class="clear lighter smaller w70pc float-left tutorial">Drag the orange box across to travel through time. Drag it all the way to the end to enable overtime (if any).</p>
<p class="align-right w30pc float-right">Box score at: <a title="Link to this particular time in the game" id="time">1Q 12:00</a></p>

<table id="stats" class="clear">
	<thead>
		<tr>
			<th class="align-left"></th>
			<th class="value-col pts" title="Points">PTS</th>
			<!-- <th class="value-col or" title="Offensive Rebounds">OR</th> -->
			<!-- <th class="value-col dr" title="Defensive Rebounds">DR</th> -->
			<th class="value-col reb" title="Total Rebounds">REB</th>
			<th class="value-col ast" title="Assists">AST</th>
			<th class="value-col stl" title="Steals">STL</th>
			<th class="value-col blk" title="Blocks">BLK</th>
			<th class="value-col pf" title="Personal Fouls">PF</th>
			<th class="value-col to" title="Turnovers">TO</th>
			<th class="value-col align-right fg" title="Field Goals (Made / Attempted)">FG</th>
			<th class="value-col align-right fg3" title="3-point Field Goals (Made / Attempted)">3FG</th>
			<th class="value-col align-right ft" title="Free Throws (Made / Attempted)">FT</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

<p class="half-width float-left no-margin">
	<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="NBA">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<% if @game.provider == 'bbref' %>
<p class="half-width float-left align-right no-margin">View full stats at <a href="http://www.basketball-reference.com/boxscores/<%= @game.bbref_key %>.html">Basketball-Reference</a>.</p>
<% end %>

<br class="clear" />

<script type="text/javascript"> window.data = <%= @game_data %>; </script>
