<section>
  <h2>Game Not Found</h2>

  <p>Sorry, the game or page you're looking for isn't here. This may be because:</p>

  <ol>
    <li>The game has not finished yet</li>
    <li>We haven't received any data for this game yet (but we will soon!)</li>
    <li>Some weird error happened</li>
  </ol>

  <p>Be sure to check back soon to see if we have stats for this game.</p>

  <p><a href="/">Back to game list</a></p>
</section>
