<p class="lighter smaller">Games are automatically added as soon as data is available. Some may take longer than others &mdash; sorry!</p>

<table>
<% @games.each do |game| %>
	<tr>
		<td><a href="/<%= game.slug %>"><%= game.away_team %> @ <%= game.home_team %></td>
		<td><%= game.date.strftime("%D") %></td>
	</tr>
<% end %>
</table>
