<html>
  <head>
    <title>Box Score Replay<%= " - #{@page_title}" if @page_title %></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic" type="text/css">
    <link rel="stylesheet" href="/styles.css?v=3" type="text/css">

    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jquery-ui.js"></script>
    <script type="text/javascript" src="/jquery.ui.touch-punch.js"></script>
    <script type="text/javascript" src="/main.js?v=3"></script>
  </head>
  <body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1503843-15']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <header class="clearfix">
      <nav>
        <h1><a <%= 'class="animated"' unless @seen_animation %> href="/">Box Score Replay</a></h1>

        <ul>
          <li <% if !@section || @section == :games %>class="active"<% end %>><a href="/"><span>Games</span></a></li>
          <li><a href="https://itunes.apple.com/us/app/box-score-replay/id819619555?ls=1&mt=8" target="_blank"><span>App</span></a></li>
          <li <% if @section == :about %>class="active"<% end %>><a href="/about"><span>About</span></a></li>
        </ul>
      </nav>

      <br class="clear" />
    </header>

    <%= yield %>

    <footer>
      <p class="smaller align-right">
        This thing was made by <a href="http://www.eddmorgan.com">Edd</a>
      </p>
    </footer>

  </body>
</html>
