<h2>Oct 8, 2013 Update: New design, and game recommendations</h2>

<p class="w65pc align-right smaller">
  <a href="/about">What is Box Score Replay?</a>
</p>

<p class="w65pc">
  When I built Box Score Replay, nearing the end of the 2012-13 NBA season, it was supposed to be 
  a useful tool for me and a few friends who like to watch non-live basketball. 
  "Hey, maybe someone on Reddit might feel the same", I thought, as I shared it there. An hour later 
  it was on the homepage of Deadspin.com and some other large sports blogs, and popular sports 
  writers I follow were suddenly tweeting about it.
</p>

<p class="larger"><em>&#8220;Fuck, now I gotta make it better, I guess?&#8221;</em> &mdash; Me.</p>

<p class="w65pc">
  So, with just three weeks to go until the start of the 2013-14 season, I'm pleased to announce 
  two things I feel are pretty rad. First, <strong>a brand new design</strong>. Things still work
  just as they did before: drag a box up and down a line to make numbers change. But the site 
  should also look a lot nicer and be easier to use.
</p>

<p class="w65pc">
  Secondly, and most importantly: I have implemented a highly scientific algorithm to determine 
  the objective epicness of a given basketball game, peer-reviewed by my cat whom I dressed 
  in a lab coat for extra science cred. Box Score Replay can now <strong>recommend games for you 
  to watch</strong>, right on the <a href="/">homepage</a> (there's an option at the side to turn it
  on, for minimal spoiler danger.)
</p>

<p class="w65pc">
  I really hope you, the hardcore NBA fan, like this new feature. I certainly do &mdash; that was
  the drive to make Box Score Replay in the first place. Now lets ball.
</p>

<p class="w65pc lighter">
  Remember, Box Score Replay is <em>open-source</em>.
  I want it to be a community project. If you have any ideas for features or would like 
  to contribute, <a href="http://twitter.com/eddm">send me an e-Tweetogram</a>.
</p>

<p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="NBA">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>
